<a href="https://colab.research.google.com/github/MathMachado/Python_RFB/blob/DS_Python/Data%20Analysis%20with%20Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Melhorias da sessão
* Desenvolver o conteúdo de Missing Values;
* Desenvolver "Querying a Dataframe";
* Desenvolver "Subsetting";
* Incluir o uso do isin: https://www.geeksforgeeks.org/python-pandas-dataframe-isin/#targetText=Pandas%20isin()%20method%20is,value%20in%20a%20particular%20column.&targetText=Parameters%3A,the%20caller%20Series%2FData%20Frame.

# Data Analysis With Pandas
## Library Highlights

* Rápida e eficiente library para data manipulation;
* Ferramentas para ler e gravar todos os tipos de dados e formatos: CSV, txt, Microsoft Excel, SQL databases e HDF5 format;
* Facilidade para tratamento de NaN's;

![Pandas](https://github.com/MathMachado/Python_RFB/blob/master/Material/Pandas.jpeg?raw=true)

![Pandas](https://github.com/MathMachado/Python_RFB/blob/master/Material/Pandas2.jpeg?raw=true)

![RightToolForEachSize](https://github.com/MathMachado/Python_RFB/blob/DS_Python/Material/SizesAndTools.PNG?raw=true)

Source: [Pandas, Dask or PySpark? What Should You Choose for Your Dataset?](https://medium.com/datadriveninvestor/pandas-dask-or-pyspark-what-should-you-choose-for-your-dataset-c0f67e1b1d36)

# Verificando a versão do Pandas

In [0]:
# Carrega a library Pandas
import pandas as pd
pd.__version__

# Criar um Dataframe a partir de um objeto Dictionary
* Revisão de [Dicionários](https://colab.research.google.com/github/MathMachado/Python_RFB/blob/DS_Python/Python%20Dictionaries.ipynb).

## Exemplo 1

In [0]:
Myfruits= {'Apple': [5, 6, 6, 8, 10, 3, 2],
          'Avocado': [6, 6, 3, 9, 3, 2, 1]}

In [0]:
Myfruits

In [0]:
# index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] abaixo define os label_row.
MyFruitPurchasesByWeek = pd.DataFrame(Myfruits, index=['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'])
MyFruitPurchasesByWeek

O que se comprou no sábado?

* Função df.loc[label_row] retorna o(s) valor(es) associados à label_row. Em nosso caso, os label_row são 'Mon', 'Tue', ..., 'Sun'.

In [0]:
MyFruitPurchasesByWeek.loc['Fri'] # Aqui, label_row= 'Fri'.

* Ou seja, o label_row= 'Fri', que ocupa a posição 4, tem os valores:
    * Apple..: 10
    * Avocado: 3

Da mesma forma, poderíamos utilizar a função df.iloc[index] para retornar o conteúdo/informações de index.

In [0]:
MyFruitPurchasesByWeek.iloc[4]

Portanto, df.loc['Fri'] = df.iloc[4]. Correto?

Para nos ajudar a memorizar, considere que:

* pd.loc[label_row] --> loc começa com a letra **l**, o que remete à label_row.
* pd.iloc[index] --> iloc começa com a letra **i**, o que remete à index.

## Exemplo 2

Na prática, lidamos com grandes bancos de dados e, nesses casos, não temos label_row definidos. Para exemplificar, considere o mesmo exemplo que acabamos de ver, com uma pequena alteração:

In [0]:
MyFruitPurchasesByWeek2 = pd.DataFrame(Myfruits) # Observe que aqui não definimos os indíces
MyFruitPurchasesByWeek2

Veja agora que os label_row são números inteiros de 0 a N. Assim, temos que

In [0]:
MyFruitPurchasesByWeek2.loc[4]

In [0]:
MyFruitPurchasesByWeek2.iloc[4]

Ou seja, nesses casos, tanto faz usar pd.loc[] ou pd.iloc[]. Entendeu?

## Exemplo 3
* A partir de agora, considere o dicionário a seguir:

In [0]:
dStudents= {'name': ['Jack', 'Richard', 'Tommy', 'Ana'], 
            'Age': [25, 34, 18, 21],
           'City': ['Sydney', 'Rio de Janeiro', 'Lisbon', 'New York'],
           'Country': ['Australia', 'Brazil', 'Portugal', 'United States']}

In [0]:
# Mostrar o conteúdo do dicionário dStudents...
dStudents

In [0]:
# Keys associadas ao dicionário dStudents
dStudents.keys()

In [0]:
# Itens associados ao dicionário dStudents
dStudents.items()

In [0]:
# Valores associados ao dicionário dStudents
dStudents.values()

Temos uma key= 'name'. Qual o conteúdo desta key?

In [0]:
dStudents['name']

Qual o output da expressão a seguir:

In [0]:
dStudents['name'][0]

Criando o dataframe df_Students a partir do dicionário dStudents:

In [0]:
df_Students= pd.DataFrame(dStudents)

In [0]:
# Mostra o conteúdo do dataframe df_Students...
df_Students

**Atenção**: Observe que nesse caso, não definimos labels para as linhas. Na prática, isso é o mais comum, ou seja, os label_row = index, que aqui são números inteiros de 0 a N.

Mais uma vez, vamos usar df.loc[] e df.iloc[]...

In [0]:
# Mostrando o conteúdo de da linha 3 usando df.loc[]
df_Students.loc[3]

OU

In [0]:
# Mostrando o conteúdo de da linha 3 usando df.loc[]
df_Students.iloc[3]

Ok, já discutimos isso anteriormente. Quando não temos labels para as linhas, então iloc[] = loc[]

# Criando um Dataframe a partir de um objeto list
* Considere a lista de frutas a seguir:

In [0]:
lFruits = [('Melon', 6,8,5,4,6,2,8), ('Avocado', 6,6,3,8,9,3,1), ('Blueberry', 7,5,9,3,1,0,4)]

In [0]:
lFruits

In [0]:
type(lFruits)

In [0]:
lFruits[0]

In [0]:
lFruits[0][0]

In [0]:
# Lista contendo os dias da semana:
lColumns_Name= ['Fruits', 'Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
lColumns_Name

In [0]:
# Convertendo as listas em dataframe
df_Fruits = pd.DataFrame(lFruits, columns = lColumns_Name) # Observe que aqui, o nome das colunas é uma lista.
df_Fruits

# Copiando o dataframe

In [0]:
df_Students_Copy= df_Students.copy()

Agora,  dataframe df_Students_Copy é uma cópia do dataframe df_Students

In [0]:
df_Students_Copy

# Renomear colunas do dataframe
> **Snippet**: 

    * df.rename(columns= {'Old_Name': 'New_Name'}, inplace= True)
    * df= df.rename(columns= {'Old_Name': 'New_Name'})

Suponha que quero renomear a coluna/variável 'name' para 'Client_Name', que é um nome mais sugestivo.

In [0]:
df_Students= df_Students.rename(columns= {'name': 'Client_Name'})
# O comando abaixo produz o mesmo resultado:
# df_Students.rename(columns= {'name': 'Client_Name'}, inplace= True)

In [0]:
# Mostrando o conteúdo de df_Students após renomearmos a coluna/variável 'name' para 'Clien_Name'...
df_Students

Agora, suponha que queremos renomear 'Age' para 'Client_Age', 'City' para 'Client_City' e 'Country' para 'Client_Country'...

In [0]:
df_Students.rename(columns= {'Age': 'Client_Age', 'City': 'Client_City', 'Country': 'Client_Country'}, inplace= True)

# O comando abaixo produz o mesmo resultado:
#df_Students= df_Students.rename(columns= {'Age': 'Client_Age', 'City': 'Client_City', 'Country': 'Client_Country'}, inplace= True)

In [0]:
# Mostrando o conteúdo de df_Students após a múltipla operação de renomear...
df_Students

Alguma dúvida até aqui?
Tudo bem até aqui?

## Challenge
* Como lowercase todas as colunas do dataframe df_Students?

**Minha solução**:

In [0]:
# Coloco o nome das colunas/variáveis numa lista:
lColumnsOfStudents= df_Students.columns
lColumnsOfStudents

In [0]:
# Lowercase todas as colunas
df_Students.columns = [col.lower() for col in lColumnsOfStudents]

In [0]:
# Mostrando o conteúdo do dataframe df_Students
df_Students

# Adicionar/Acrescentar novas linhas ao dataframe

## Usando um objeto dictionary
* É necessário informar {'Column_Name': value} para cada inserção. Por exemplo, vou adicionar o seguinte registro ao dataframe:
    * client_name= 'Anderson';
    * client_age= 22;
    * client_city= 'Porto';
    * client_country= 'Portugal'

In [0]:
df_Students

In [0]:
df_Students_Copia= df_Students.copy()
df_Students.append({'Client_Name': 'Anderson', 
               'Client_Age': 22,
               'Client_City': 'Porto',
               'Client_Country': 'Portugal'}, ignore_index= True)

Esse é o resultado que desejamos?
Saberia explicar-nos o que houve de errado?

**DICA**: Lembre-se que no passo anterior, reescrevemos todos os nomes das colunas para lowercase.

In [0]:
# Definindo df_Students novamente usando a cópia df_Students_Copia
df_Students= df_Students_Copia.copy()
df_Students

Ok, restabelecemos a cópia de df_Students. Agora vamos à forma correta:

In [0]:
df_Students.append({'client_name': 'Anderson', 
               'client_age': 22,
               'client_city': 'Porto',
               'client_country': 'Portugal'}, ignore_index= True)

Bom, esse é o resultado que estávamos à espera...

## Adicionando/Acrescentando novas linhas usando objetos Serie
* Como exemplo, considere que queremos adicionar os seguintes dados:
    * client_name= 'Bill';
    * client_age= 30;
    * client_city= 'São Paulo';
    * client_country= 'Brazil'

In [0]:
NewLines= pd.Series(['Bill', 30, 'Sao Paulo', 'Brazil'], index= df_Students.columns) # Olha que interessante: estamos a usar index= df_Students.columns.

Vamos ver o conteúdo de NewLines:

In [0]:
NewLines

Por fim, adiciona/acrescenta NewLines ao dataframe df_Students...

In [0]:
df_Students= df_Students.append(NewLines, ignore_index= True)
df_Students

# Adicionar/acrescentar novas colunas ao Dataframe

## Usando objetos Lists
* Suponha que queremos adicionar a coluna/variável 'Score'

In [0]:
# Acrescentando ou criando a coluna/variável 'Score' ao dataframe usando um objeto list
df_Students['Score']= [500, 300, 200, 800, 700]

In [0]:
# Show the contents of Students...
df_Students

> **Atenção**:

* Se a quantidade de valores da lista forem menores que o número de linhas do dataframe, então o Python apresenta um erro.
* Se a coluna/variável que queremos inserir já existe no dataframe, então os valores serão atualizados com os novos.

## Usando um valor default
* Adicionar a coluna 'Total' com o mesmo valor para todas as linhas

In [0]:
df_Students['Total']= 500
df_Students

## Adicionando uma variável calculada a partir de outras colunas/variáveis

In [0]:
df_Students['Percentagem']= 100*(df_Students['Score']/sum(df_Students['Score']))
df_Students

## Adicionando colunas/variáveis usando df.assign()
> Função: pd.assign()

* Suponha que queremos adicionar a coluna 'Marks_Math' com as notas de Matemática:

In [0]:
df_Students

In [0]:
from random import seed
from random import randint # To generate random in numbers

# set the seed - for reasons of reproducibility
seed(20111974)

In [0]:
# Objetivo: Gerar 5 números inteiros aleatoriamente, de 0 to 10. Porque vamos gerar 5 números?
lValue= []
for i in range(5):
    iRandom= randint(0, 10)
    lValue.append(iRandom)

Mostra o conteúdo de lValue...

In [0]:
lValue

In [0]:
df_Students= df_Students.assign(Marks_Math= [lValue[0], lValue[1], lValue[2], lValue[3], lValue[4]])

Mostra o conteúdo de df_Students...

In [0]:
df_Students

# Lendo/carregando dados com Python

* Vários formatos de arquivos podem ser lidos. Considere a tabela a seguir:

|Format Type | Data Description | Reader | Writer |
|---|---|---|---|
text | CSV | read_csv | to_csv |
text | JSON | read_json | to_json |
text | HTML | read_html | to_html |
text | Local clipboard | read_clipboard | to_clipboard |
binary | MS Excel | read_excel | to_excel |
binary | HDF5 Format | read_hdf | to_hdf |
binary | Stata | read_stata | to_stata |
binary | SAS | read_sas 
binary | Python Pickle Format | read_pickle | to_pickle |
SQL | SQL | read_sql | to_sql |
SQL | Google Big Query | read_gbq | to_gbq |

## Lendo csv

Source: https://www.kaggle.com/mlg-ulb/creditcardfraud

In [0]:
# Load the Pandas library
import pandas as pd
from google.colab import files

In [0]:
url= 'https://raw.githubusercontent.com/MathMachado/Python_RFB/DS_Python/Dataframes/creditcard.csv?token=AGDJQ64DGYN5PWQJZFA4PIC5OLD5E'
cc = pd.read_csv(url)

## Mostrando as primeiras k linhas do dataframe
> df.head(k), onde k é o número de linhas que queremos visualizar. Por default, k= 10.

In [0]:
cc.head()

## Mostrando as últimas k linhas do dataframe
> df.tail(k), onde k é o número de linhas que queremos ver. Por default, k= 10.

In [0]:
cc.tail()

By default, df.tail() show the last 5 rows. But to see the last 10 rows, just use the command below:

In [0]:
cc.tail(10)

## Mostrando o nome das colunas

In [0]:
cc.columns

## Mostrando os tipos das colunas

In [0]:
cc.dtypes

## Mostrando a dimensão do dataframe

In [0]:
cc.shape

Qual a interpretação desta informação acima?

### **Quebrando a dimensão**
* Número de linhas do dataframe.: cc.shape[0]
* Número de colunas do dataframe: cc.shape[1]

In [0]:
f'O dataframe cc possui {cc.shape[0]} linhas e {cc.shape[1]} colunas'

# Combinando dataframes: Merge & Join

In [0]:
import pandas as pd

In [0]:
Full_Info= pd.DataFrame({'Sex': ['F','F','M','M','F','M','F','M','F','M','F','F','M'],
                     'email': ['Pietra_Cardoso@hotmail.com','Laura_Mendes@hotmail.com','Pedro_Lucas_da_Mota@yahoo.com','Isaac_Jesus@bol.com.br','Clara_Souza@bol.com.br','Vitor_Gabriel_Melo@google.com','Elisa_Barbosa@bol.com.br','Nicolas_Melo@yahoo.com.br','Ana_Beatriz_Aragao@gmail.com','Nicolas_Silva@bol.com.br','Yasmin_Oliveira@google.com','Luna_Lima@yahoo.com.br','Murilo_Aragao@bol.com.br'],
                     'ssn': ['48763512955','81970635401','31645298051','37164528900','49381206740','59140283615','56879130410','20457891360','82047693500','79618543200','81745930639','41978256337','48523071997'], 
                     'Birth_date': ['13/02/1978','24/01/1982','12/08/1977','16/12/1981','09/01/1993','20/02/1963','26/09/1983','13/10/1967','31/05/1997','12/03/1974','15/11/1996','11/12/1966','18/03/1965'], 
                     'start_date': ['6/02/2007','15/01/2018','05/08/2004','09/12/2008','04/01/2013','10/02/2002','19/09/2011','03/10/2007','26/05/2019','05/03/2003','10/11/2018','02/12/2003','09/03/2001'],
                     'Job': ['Director','Manager','Engineer','Engineer','Engineer','Engineer','Programmer','Director','programmer','Programmer','Programmer','Programmer','Manager'], 
                     'City': ['Seattle','Chicago','Austin','Austin','Seattle','Austin','NewYork','Seattle','NewYork','NewYork','NewYork','NewYork','Seattle'],
                     'Department': ['Product','Devops','Platform','Devops','InternalTools','InternalTools','Sales','Product','Sales','Sales','Sales','Sales','Product'],
                     'Years_Of_Experience': [13,14,5,1,2,17,16,14,17,8,11,16,19]})

In [0]:
Full_Info

In [0]:
Boss_Info= pd.DataFrame({'Job': ['Director','Manager','Engineer','Programmer'], 
                     'Supervisor': ['CEO','Director','Manager','Engineer'],
                     'Annual_salary': [159000,134000,98000,60000]})

In [0]:
Boss_Info

In [0]:
My_Data= pd.DataFrame({'First_Name': ['Pietra','Laura','Pedro Lucas','Isaac','Clara','Vitor Gabriel','Elisa','Nicolas','Ana Beatriz','Nicolas','Yasmin','Luna','Murilo'],
                    'Second_Name': ['Cardoso','Mendes','da Mota','Jesus','Souza','Melo','Barbosa','Melo','Aragão','Silva','Oliveira','Lima','Aragão'], 
                     'ssn': ['48763512955','81970635401','31645298051','37164528900','49381206740','59140283615','56879130410','20457891360','82047693500','79618543200','81745930639','41978256337','48523071997'],
                      'Job': ['Director','Manager','Engineer','Engineer','Engineer','Engineer','Programmer','Director','programmer','Programmer','Programmer','Programmer','Manager'],})

In [0]:
My_Data

## Join (One-to-one joins)

* One-to-one joins significa que temos uma única chave para cada linha do dataframe;
* Observe que a chave comum entre o dataframe Full_Info e My_Data é ssn (Social Security Number). Com esta chave comum, fazemos o merge dos dois dataframes.

In [0]:
df_Merged = pd.merge(My_Data, Full_Info, on='ssn', how='left')

In [0]:
df_Merged.head()

**Temos aqui um problema**: Observe que temos uma coluna em comum nos dois dataframes: Job. Portanto, é informação redundante que precisa ser excluída.

O comando a seguir aplica o drop na coluna redundante...

In [0]:
df_Merged = pd.merge(My_Data, Full_Info, on='ssn', how='left').drop('Job_y', axis=1).rename(columns= {'Job_x': 'Job'})
df_Merged.head()

Join (Many-to-one joins)

In [0]:
df_Merged2 = pd.merge(My_Data, Boss_Info, on='Job', how='left')
df_Merged2

Porque temos alguns 'NaN' na coluna 'Supervisor'?

## Join (Many-to-many joins)

* Considere o dataframe de skills abaixo:

In [0]:
df_Skills= pd.DataFrame({'Job': ['Director','Director','Director','Director','Manager','manager','Manager','Engineer','Engineer','Engineer','Engineer','Engineer','Engineer','Programmer','Programmer','Programmer','Programmer','Programmer','Programmer'], 
                     'skills': ['Negotiation','Decision Making','Leadership','Strategic Thinking','Decision Making','Leadership','Communication','The ability to work under pressure','Problem-solving','Creativity','Interpersonal skills','Teamworking skills','Problem-solving','Creativity','Python','Coding', 'Strategic Thinking', 'The ability to work under pressure', 'Resourcefulness']})

Então temos a tabela de skills abaixo. No entanto, observe que há mais de 1 skill para o mesmo Job. Por exemplo, 'Director' possui 4 skills.

In [0]:
df_Skills

In [0]:
df_Merged3 = pd.merge(df_Merged2, df_Skills, on='Job', how='left')
df_Merged3.head()

Observe que surgiram 'NaN' na linha 40. Qual a razão desses 'NaN'?

## Comentários:

* Em alguns casos a variável chave nos dois dataframes que se quer fazer o join possui nomes diferentes. Neste caso, use 'left_on' e 'right_on' para definir o nome das variáveis chaves no dataframe da esquerda e direita:

> pd.merge(df1, df2, left_on="employee", right_on="name")

    * No exemplo acima, o dataframe df1 (dataframe da esquerda) possui chave 'employee' enquanto que o dataframe df2 (dataframe da direita), possui chave 'name'. Usando as 'left_on' e 'right_on' fica claro o nome das chaves de ligação de cada dataframe.

# Selecionando conteúdo do dataframe baseado nos índices

## 1st Approach - pd.loc[]
* Para capturar o conteúdo da linha k, use df.loc[row_indexer,column_indexer].

Por exemlo, o comando a seguir mostra o conteúdo da linha 0, todas as colunas(:)

In [0]:
cc.loc[0,:]

Mostrando o conteúdo das linhas k= 0:1 (ou seja, linhas 0 e 1), todas as colunas(:)

In [0]:
cc.loc[0:1, :]

Mostrar os conteúdos da linha k= 0, coluna 'V1': use...

In [0]:
cc.loc[0, 'V1']

Mostrar os conteúdos da linha k= 0 e colunas 'V1' e 'V2':

In [0]:
cc.loc[0, ['V1', 'V2']]

Mostrar os conteúdos da linha k= 0:3 e colunas 'V1' e 'V2':

In [0]:
cc.loc[0:3, ['V1', 'V2']]

Agora suponha que queremos selecionar o conteúdo da coluna 'V1'. Como fazer isso?

In [0]:
ColumnV1= cc.loc[:, 'V1']
ColumnV1

## 2nd Approach - Usando objetos lists

In [0]:
cc[0:2] # Mostrar os conteúdos das linhas 0:2

In [0]:
cc[:3] # Mostrar os conteúdos até a linha 3

In [0]:
cc['V1'] # Mostrar o conteúdo inteiro da variável 'V1'

# Selecionando Amostras Aleatórias
* Vamos usar a teoria do capítulo [Statistics and Probability](https://github.com/MathMachado/Python_RFB/blob/DS_Python/Statistics%20and%20Probability.ipynb) para nos ajudar com seleção de amostras aleatórias.

* Vimos que o dataframe cc é muito grande. Então, vamos selecionar aleatoriamente 100 linhas.

In [0]:
# import random  
from random import sample

In [0]:
cc_sample100= cc.sample(n= 100)
cc_sample100.head()

In [0]:
cc_sample100.shape

# Descrevendo o Dataframe

In [0]:
cc_sample100.describe()

# Lidando com linhas duplicadas

In [0]:
df = pd.DataFrame({'A':[1,1,3,4,5,1], 'B':[1,1,3,7,8,1], 'C':[3,1,1,6,7,1]})

In [0]:
df

In [0]:
df.duplicated()

Observe a linha 5, onde temos a informação que esta linha está duplicada. Na verdade, a linha 5 é igual à linha 1

In [0]:
# Mostra as linhas duplicadas
df[df.duplicated()]

In [0]:
# Mostra as linhas duplicadas usando as colunas 'A' e 'B'
df[df.duplicated(subset=['A','B'])]

## Deletando as linhas duplicadas

In [0]:
# Deleta a linha 5 que, como vimos, estava duplicada (uma cópia da linha 1).
df.drop_duplicates()
df.head()

# Transformando dados com map()

Considere o dataframe abaixo:

In [0]:
df= Full_Info.copy()
df

Agora, considere o mapeamento abaixo:

In [0]:
Boss_para_Job = {'director': 'ceo', 
                 'manager': 'director',
                 'engineer': 'manager',
                 'programmer': 'engineer'}

**A interpretação desse mapeamento é**: O 'Director' está subordinado ao 'CEO'. O 'Manager' está subordinado ao 'Director'. E assim por diante...

In [0]:
df['Boss'] = df['Job'].map(str.lower)
df

O que aconteceu?

Aplicamos a função lower() na coluna 'Job'. Certo?

E agora?

In [0]:
df['Boss2'] = df['Job'].map(str.lower).map(Boss_para_Job)
df

# Filtrando linhas baseado em condições

In [0]:
df_Titanic.head()

In [0]:
# Selecionar do dataframe df_Titanic todas as linhas onde Pclass= 1:
df2= df_Titanic[ (df_Titanic['Pclass'] == 1)]
df2.head()

In [0]:
# Selecionar todas as linhas onde Pclass= 1 & Embarked = 'S':
df2= df_Titanic[ ((df_Titanic['Pclass'] == 1) & (df_Titanic['Embarked'] == 'S'))]
df2.head()

# Mostrando linhas do dataframe baseado em condições

In [0]:
# Mostrar todas as linhas onde a string 'Mr' aparece no nome do passageiro:
df2= df_Titanic[df_Titanic['Name'].str.contains('Mr')]
df2.head()

# Identificando e corrigindo inconsistências e corrigindo 
* df[var].value_counts() --> Lista os atributos da variável var.

## Exemplo 1

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [0]:
import pandas as pd
df_Titanic = pd.read_csv('https://raw.githubusercontent.com/MathMachado/Python_RFB/DS_Python/Dataframes/Titanic_With_MV.csv?token=AGDJQ6YSKYGHW6QUI2QVVWK5OLMDU')
df_Titanic.head()

* Segue o dicionário de dados do dataframe Titanic:
    * PassengerID: ID do passageiro;
    * Survived: Indicador, sendo 1= Passageiro sobreviveu e 0= Passageiro morreu;
    * Pclass: Classe;
    * Age: Idade do Passageiro;
    * SibSp: Número de parentes a bordo (esposa, irmãos, pais e etc);
    * Parch: Número de pais/crianças a bordo;
    * Fare: Valor pago pelo Passageiro;
    * Cabin: Cabine do Passageiro;
    * Embarked: A porta pelo qual o Passageiro embarcou.
    * Name: Nome do Passageiro;
    * Sex: Sexo do Passageiro

Vamos dar uma olhada nos campos categóricos para verificarmos como estão preenchidos.

In [0]:
import seaborn as sns

sns.countplot(x='Survived', hue='Pclass', data=df_Titanic)

In [0]:
df_Titanic['Pclass'].value_counts()

Não me parece nada estranho com a variável 'Pclass'. Ou você identifica alguma coisa estranho?

Vamos olhar a variável 'Sex'

In [0]:
sns.countplot(x='Survived', hue='Sex', data=df_Titanic)

In [0]:
df_Titanic['Sex'].value_counts()

Oops... Aqui temos vários problemas... Olhando para estes resultados, você concorda que 'male', 'm', 'MALE', M', 'mALE' e 'Men' se trata da mesma informação?

Da mesma forma, 'female', 'f', 'F', 'Female', 'fEMALE', 'Woman', 'w' e 'W' também se trata da mesma informação?

Então, vamos fazer o seguinte:

* Toda vez que eu encontrar um desses valores: ['m', 'MALE', 'M', 'mALE', 'Men'], vou substituir por 'male';
* Toda vez que eu encontrar um desses valores: ['f', 'F', 'Female', 'fEMALE', 'Woman', 'w', 'W'], vou substituit por 'female'.

O comando a seguir faz estas substituições:

In [0]:
df_Titanic['Sex2'] = df_Titanic['Sex'].replace(['m', 'MALE', 'M', 'mALE', 'Men'], 'male')
df_Titanic['Sex3'] = df_Titanic['Sex2'].replace(['f', 'F', 'Female', 'fEMALE', 'Woman', 'w', 'W'], 'female')

Vamos ver a distribuição dos dados novamente no gráfico:

In [0]:
sns.countplot(x='Survived', hue='Sex3', data=df_Titanic)

In [0]:
df_Titanic['Sex3'].value_counts()

Ok, de fato corrigimos os problemas de preenchimento da variável 'Sex'.

## Exemplo 2
* Vamos corrigir alguns valores do dataframe a seguir:

In [0]:
df= Full_Info.copy()
df.head()

In [0]:
# Verificando o preenchimento das variáveis Job, City e Department:

In [0]:
# Verificando 'Job'
df['Job'].value_counts()

Nenhuma inconsistência. Vamos em frente...

In [0]:
# Verificando 'City'
df['City'].value_counts()

Observe que a cidade (City) 'New York' está escrita errada. Vamos corrigir o nome desta cidade. Como?

In [0]:
df['City']= df['City'].replace('NewYork', 'New York')

# Conferindo se a inconsistência foi corrigida
df['City'].value_counts()

In [0]:
# Verificando 'Department'
df['Department'].value_counts()

Nada demais. Vamos adiante.

# Agrupando Informações: pd.groupby()
* Os componentes do comando Groupby()
    * **Grouping_Column** - Variável Categórica pelo qual os dados serão agrupados;
    * **Aggregating_Column** - Variável numérica cujos valores serão agrupados;
    * **Aggregating_Function** - Função agregadora, ou seja: sum, min, max, mean, median, etc...

> Sintaxe: 

```df.groupby('Grouping_Column').agg({'Aggregating_Column': 'Aggregating_Function'})```

In [0]:
df_Titanic.head()

In [0]:
# Agrupando df_Titanic por 'Sex3'
df_Titanic.groupby(['Sex3']).agg({'Fare': ['max', 'min']})

In [0]:
# Agrupando df_Titanic por 'Sex3' e 'Pclass'
df_Titanic.groupby(['Sex3','Pclass']).agg({'Fare': ['max', 'min']}).round(0)

In [0]:
df_Titanic.groupby(['Sex3']).agg({'Age': ['mean','min','max']}).round(0)

In [0]:
df_Titanic.head()

# Subsetting
* Suponha que queremos selecionar somente as colunas 'Survived', 'Sex' e 'Embarked':

In [0]:
df_Titanic2= df_Titanic[['Survived', 'Sex3', 'Embarked']]
df_Titanic2.head()

# Exercises

## Exercícios 1
* A partir dos dataframes a seguir, construa o Dataframe USA contendo as colunas state, abbreviation, area, ages, year, population.

In [0]:
import pandas as pd

* Observação: A forma mais fácil de ler um arquivo CSV (a partir do Excell por exemplo) a partir do GitHub é clicar no arquivo csv no seu repositório do GitHub e em seguida clicar em 'raw'. Depois, copie o endereço apresentado no browser e cole na variável 'url'. Qualquer dúvida, leia o documento a seguir: https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92.

In [0]:
url = 'https://raw.githubusercontent.com/MathMachado/Python_RFB/DS_Python/Dataframes/USA_Abbrev.csv?token=AGDJQ646VJMKSQ2ZPQ6OHCS5OLJAK'
df_Abbr = pd.read_csv(url)
df_Abbr.head()

In [0]:
url = 'https://raw.githubusercontent.com/MathMachado/Python_RFB/DS_Python/Dataframes/USA_Area.csv?token=AGDJQ65HDHS2B2MER44XCBC5OLJDC'
df_Area = pd.read_csv(url)
df_Area.head()

In [0]:
url = 'https://raw.githubusercontent.com/MathMachado/Python_RFB/DS_Python/Dataframes/USA_Population.csv?token=AGDJQ662X45WA5II7GHGWZC5OLJI2'
df_Pop = pd.read_csv(url)
df_Pop.head()